<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<div id="authors">
  <% @authors.each do |author| %>
    <div class="card"> 
      <%= render author %>
      <p>
      <%= button_to "Show this author", author, :class => "btn btn-info", :method => "get" %>
      </p>
    </div>
  <% end %>
</div>

<%= button_to "New author", new_author_path, :class => "btn btn-warning", :method => "get" %>
