<div id="<%= dom_id book_selection %>">
  <p>
    <strong>Add book:</strong>
    <%= book_selection.add_book %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= book_selection.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book_selection.user_id %>
  </p>

</div>
