<h1>Editing book selection</h1>

<%= render "form", book_selection: @book_selection %>

<br>

<div>
  <%= link_to "Show this book selection", @book_selection %> |
  <%= link_to "Back to book selections", book_selections_path %>
</div>
