<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <div class="card">
      <%= render book %>
      <p>
      <%= button_to "Show this book", book, :class => "btn btn-info", :method => "get" %>
      </p>
    </div>
  <% end %>
</div>

<%= button_to "New book", new_book_path, :class => "btn btn-warning", :method => "get" %>
