<p style="color: green"><%= notice %></p>

<%= render @book %>

<div class="show-button">
  <%= button_to "Back to books", books_path, :class => "btn btn-info", :method => "get" %>
  <%= button_tag "Add Book", :id => "selectbook", :class => "btn btn-warning mx-3", "data-book-id" => @book.id %>
  
</div>

