<p style="color: green"><%= notice %></p>

<h1>Your Books</h1>

<div id="selections">
  <% @selections.each do |selection| %>
    <div class="card">
      <%= render selection %>
      <p>
      <%= button_to "Select Book", selection, :class => "btn btn-warning", :method => "get" %>
      </p>
    </div>
  <% end %>
</div>

<%= button_to "New selection", new_selection_path, :class => "btn btn-info", :method => "get" %>
