<p style="color: green"><%= notice %></p>

<h1>Goals</h1>

<div id="goals">
  <% @goals.each do |goal| %>
    <div class="card">
      <%= render goal %>
      <p>
      <%= button_to "Show this goal", goal, :class => "btn btn-info", :method => "get" %>
      </p>
    </div>
  <% end %>
</div>

<%= button_to "New goal", new_goal_path, :class => "btn btn-warning", :method => "get" %>
